<div class="container">
    <h2>Welcome to Gift Journal!</h2>
    <div class="content">
      <p> Gift Journal allows you to keep track of your desired gifts or wishes, much like a journal, and share your list with others!</p>
      <p>Please see your options below to get started:</p>
      <nav>
          <div class="content">
         <% if !logged_in? %>
           <p>Welcome!</p>
           <p><a href="/gifts">All Gifts</a></p>
           <p><a href="/login">Log In</a></p>
           <p><a href="/signup">Sign Up</a></p>
         <% else %>
           <p>Welcome, <%= current_user.username %>!</p>
           <p><a href="/users/<%= current_user.slug %>/gifts">Go To My Journal</a></p>
           <p><a href="/gifts">All Gifts</a></p>
           <p><a href="/users">All Users</a></p>
           <p><a href="/logout">Log Out</a></p>
         <% end %>
       </div>
      </nav>
    </div>
  </div>
</div>
