<h4> Add a Gift to Your List: </h4>

<form action="/gifts" method="POST">
  <p><label for="gift_name"> Name: </label>
     <input type="text" name="gift[name]" id="gift_name">
   </p>
  <p><label for="gift_description">Description: </label>
    <input type="text" name="gift[description]" id="gift_description">
  </p>
  <input type="submit" name="submit" value="Add Gift">
</form>

<br></br>
<p><a href="/logout">Log Out</a></p>
<p><a href="/">Home</a></p>
