<h2> Edit Gift </h2>

<form method="post" action="/gifts/<%=@gift.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="gift_name" value="<%= @gift.name %>">
  <input type="text" name="gift_description" value="<%= @gift.description %>">
  <!-- <input type="text" name="gift_link" value="<%= @gift.link %>">  -->
  <input type="submit" value="submit">
</form>
