<h2> Edit Gift </h2>

<form method="post" action="/gifts/<%=@gift.slug%>">
  <p><input id="hidden" type="hidden" name="_method" value="PATCH"></p>
  <p><input type="text" name="gift[name]" value="<%= @gift.name %>"></p>
  <p><input type="text" name="gift[description]" value="<%= @gift.description %>"></p>
  <p><input type="submit" value="Edit Gift"></p>
</form>

<br></br>
<p><a href="/logout">Log Out</a></p>
<p><a href="/">Home</a></p>
